# GDATA API key
YOUTUBE_API_KEY=
LOGIN_SCOPE=https://www.googleapis.com/auth/youtube
# Run main.py then paste the string here
FLASK_SECRET_KEY=

# these values are NOT blazertube's, they were gotten by opening http://youtube.com/tv with User-Agent Mozilla/5.0 (SMART-TV; Linux; Tizen 6.5) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/5.0 Chrome/108.0.5359.1 TV Safari/537.36
OAUTH_CLIENT_ID=861556708454-d6dlm3lh05idd8npek18k6be8ba3oc68.apps.googleusercontent.com
OAUTH_CLIENT_SECRET=SboVhoG9s0rNafixCSGGKXAT
DEFAULT_DEVICE_ID=7e6b59dc-dbdb-4dcd-bfa0-c566bc213e14
DEFAULT_DEVICE_MODEL=ytlr:samsung:smarttv
INNERTUBE_KEY=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8

# You can enable ENABLE_CREDS_OVERRIDE in shared.py and then put your own app's client ID, secret and login scopes here to use instead of InnerTube's
OVERRIDE_CLIENT_ID=
OVERRIDE_CLIENT_SECRET=
OVERRIDE_LOGIN_SCOPE=
