.env
*.old
*.bak
venv/**
/patcher/temp/**
/patcher/patch/**
**/__pycache__/**
cookies.txt
api/old/**
/static/js/signin.js
/webkit_html/**
dbg*.json
/config.xml
/config.prod.xml
/codebin/*.bin
/codebin/*.py
/codebin/netflix/**
/codebin/scrshots/**
/codebin/yt_save_dump/**
/codebin/extracted_html/**
/patcher/bin/*/*_patched.bin
/static/images/netflix/rvl/*.bin
/unistore/testing.unistore
/website/**
/wii_u/**
/watch_history.txt
/wiiVideoLoader.py
/meta/xlb/**
*.key
*.pem
*.crt
*.dtd
*.der

# wip stuff
/DOCS.md
