aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aioquic==1.3.0
aiosignal==1.4.0
anyio==4.14.2
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
asgiref==3.12.1
attrs==26.1.0
backports.zstd==1.7.0
bcrypt==5.0.0
beautifulsoup4==4.15.0
blinker==1.9.0
brotli==1.2.0
bs4==0.0.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
cryptography==50.0.1
defusedxml==0.7.1
Deprecated==1.3.1
dnslib==0.9.26
dotenv==0.9.9
Flask==3.1.3
Flask-Compress==1.24
flask-cors==6.0.5
flask-ipban==1.1.5
Flask-Limiter==4.1.1
frozenlist==1.8.0
google-auth==2.57.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.19
innertube==2.1.19
ips.py==0.1.2
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
kaitaistruct==0.11
ldap3==2.9.1
limits==5.8.0
MarkupSafe==3.0.3
mediate==0.1.8
mitmproxy==12.2.3
mitmproxy-windows==0.12.11
mitmproxy_rs==0.12.11
msgpack==1.2.2
multidict==6.7.1
nodejs-wheel-binaries==24.19.0
ordered-set==4.1.0
packaging==26.3
pathlib==1.0.1
propcache==0.5.2
publicsuffix2==2.20191221
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydivert==3.1.3
pylsqpack==0.3.24
pyOpenSSL==26.4.0
pyparsing==3.3.2
pyperclip==1.11.0
python-dotenv==1.2.3
pytubefix==10.11.0
PyYAML==6.0.3
requests==2.34.2
rfc3986==2.0.0
roster==0.1.11
ruamel.yaml==0.19.1
service-identity==26.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.9.2
tornado==6.5.8
typing_extensions==4.16.0
urllib3==2.8.0
urwid==4.0.13
waitress==3.0.2
wcwidth==0.8.2
Werkzeug==3.1.8
wrapt==2.3.0
wsproto==1.3.2
yarl==1.24.5
youtube-transcript-api==1.2.4
yt-dlp==2026.8.19
yt-dlp-ejs==0.8.0
zopfli==0.4.3
zstandard==0.25.0
