# every error except 502 shouldn't be visible
Options -Indexes
RewriteEngine On
ErrorDocument 502 /errors/502.html
<IfModule mod_headers.c>
    Header unset X-Powered-By
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>
