<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>YouTube</title>
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div id="mrmeh">
        <img src="/static/images/mrmeh-1080.png" alt="mrmeh 1080" width="53" height="38" draggable="false">
    </div>
    <span class="text">BlazerTube is currently offline.<BR>Please try again later.<BR>Error code: 502 Bad Gateway</span>
    <BR><BR><br><br><br><br>
    <center>
        <a href="http://embedded.ctr/launcher.html">
            <button type="button"><span>Retry</span></button>
        </a>
    </center>
</body>
</html>