<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <script type="text/javascript" src="/static/js/common.js" language="JavaScript"></script>
    <title>YouTube</title>
    <link rel="stylesheet" href="/static/css/maintenance.css" type="text/css">
</head>
<body>
    <div id="mrmeh">
        <img src="/static/images/mrmeh-1080.png" id="mainimg" width="53" height="38" alt="mrmeh" draggable="false" />
    </div>
    <span class="text">BlazerTube is currently undergoing maintenance.<BR>Please try again later.</span>
    <center>
    <P><p><p><BR><BR><BR><BR><br>
    <a href="javascript:location.replace('http://embedded.ctr/launcher.html')">
        <button type="button"><span>Retry</span></button>
    </a>
    <BR>
    <span class="notice">or press HOME to exit</span>
    </center>
</body>
</html>
