<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>YouTube</title>
    <link rel="stylesheet" href="/static/css/error.css" type="text/css">
</head>
<body>
    <div id="mrmeh">
        <img src="/static/images/mrmeh-1080.png" alt="mrmeh 1080" width="53" height="38" draggable="false">
    </div>
    <span class="text">{{ redirectBody | safe }}</span>
    <BR><BR><br><br><br><br>
    <center>
        <a href="/vendor_signin">
            <button type="button"><span>OK</span></button>
        </a>
        <br>
        <a href="javascript:history.back()">
            <button type="button"><span>Back</span></button>
        </a>
    </center>
</body>
</html>