<html lang="en">
<head id="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>YouTube</title>
    <STYLE>
        P {color: grey;}
    </STYLE>
</head>
<body>
<center><br/>
    <img src="/static/images/branding/logo_BETA_black.png" width="232" height="76" alt="logo" draggable="false" />
    <h1>Sorry to interrupt</h1>
    Signing in is currently disabled.<br/>
    {{ reason }}
    <P>press B or follow <a href="http://embedded.ctr/launcher.html">this link</a> to exit</P>
</center>
</body>
</html>