<a href="#/select_site" class="_mrd" onclick="return clk(this);">
    <div class="_msd _mtd">
        <div class="_mud _mqb"></div>
    </div>
    <div class="_mvd">
        <div class="_mwd">Settings</div>
    </div>
</a>
<div class="_mrd">
    <div class="_mrd _mps">
        <div class="_mwd">Credits</div>
        <div class="_mfs">
            <div class="_mgs">
                <div class="_mhs">1</div>
            </div>
            <div class="_mis">RiiviveTube for a lot of the <strike>borrowed</strike> code in the InnerTube module</div>
        </div>
        <div class="_mfs">
            <div class="_mgs">
                <div class="_mhs">2</div>
            </div>
            <div class="_mis">Liinback for the various modules' bases (debug logging, video loader, captions)</div>
        </div><!--
        that is for later
        <div class="_mfs">
            <div class="_mgs">
                <div class="_mhs">3</div>
            </div>
            <div class="_mis">Tanjirokamado12 for the patcher's inject code</div>
        </div>
        <div style="color: #888;"><center>THIS SOFTWARE COMES WITH NO WARRANTY WHATSOEVER</center></div>
        -->
    </div>
</div>