<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>Hulu</title>
</head>
<body>
    <a href="javascript:location.reload()" style="z-index: 999;position:absolute;top:0;left:0">reload</a>
    <br><button onclick="vod.exit(1)">Exit</button>&nbsp;<a href="http://embedded.ctr/error.html?error=HULU_99">HULU_99</a>
    <br><script>document.write(navigator.userAgent)</script><br>
    <a href="/debug">debug</a><br>
    <a href="http://embedded.ctr/error.html?error=NAND_02">NAND_02</a>&nbsp;<a href="http://embedded.ctr/error.html?error=NET_20110">NET_20110</a>&nbsp;<a href="http://embedded.ctr/error.html?error=APP_NAME_99">APP_NAME_99</a>
</body>
</html>